body {
    background-color: slategray;
    padding-top: 30px;
}

table {
    
    margin: auto;
	border-collapse: collapse;
}

td {
    padding-top: 10px;
	background-color: darkslateblue;
	border: 3px solid gray;
	font-size: 80px;
	color: greenyellow;
	border-radius: 10px 10px 10px 10px;
}

#spanText{
    color: maroon;
    font-family: monospace;
    font-style:oblique;
    font-size: 30px;
    text-align: center;
}
#buttonsDiv {
    margin-left: 150px;
    
}
button {
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin-top: -10px;
    background-color: darkslateblue;
    color: aliceblue;
    font-size: 20px;
}


p {
    text-align: left;
    font-size: 20px;
}

